.dulceriaContainer{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.dulceriaContainer h1{
    text-align: center;
}

.dulceriaFlexContainer{
    padding: 0 30px 30px 30px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7ecf0;
}

.dulceriaContainer .nextButton{
    background-color: #F2374C;
    padding: 8px 30px;
    border-radius: 15px;
}

.dulceriaContainer .nextButton:hover{
    background-color: #B5121C;
}

.dulceriaContainer .nextIcon{
    margin-right: 10px;
}

@media (max-width: 700px){
    .dulceriaContainer{
        margin-top: 107px;
    }
}

@media (max-width: 700px){
    .dulceriaFlexContainer{
        width: 85%;
    }
}