.filterContainer{
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    background: #fafafa;
    box-shadow:  -10px -10px 30px #292929;
}

.filterContainer h3{
    margin: 0;
}

.filterContainer .filters{
    display: flex;
    align-items: center;
}

.filterContainer .filterItem{
    padding: 15px 30px;
    border-right: 1px solid rgb(206, 206, 206);
}

.filterContainer .formControl{
    min-width: 200px;
    max-width: 70%;
}

.filterContainer .filterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.filterContainer button{
    background-color: #FF1616;
    padding: 10px 20px;
    border-radius: 10px;
}

.filterContainer button:hover{
    background-color: #a30f0f;
}

.filterContainer .filterIcon{
    margin: 0 10px;
}

@media (max-width: 1000px){
    .filterContainer{
        border-radius: 0;
        flex-direction: column;
        width: 100%;
    }

    .filterContainer .filters{
        justify-content: space-evenly;
    }

    .filterContainer .filterItem{
        padding: 15px 10px;
        border-right: none;
    }

    .filterContainer h3{
        text-align: center;
    }
}

@media (max-width: 700px){
    .filterContainer{
        width: 70%;
        border-radius: 50px;
    }

    .filterContainer .filters{
        flex-direction: column;
    }

    .filterContainer .formControl {
        display: flex;
        justify-content: center;
    }
}