.footerContainer{
    width: 100%;
    display: flex;
    min-height: 300px;
    justify-content: center;
    color: white;
    text-align: center;
}

.footerContainer .footerFlexContainer{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerContainer .logoContainer img{
    max-height: 70px;
}

.footerContainer ul{
    list-style: none;
    display: flex;
    padding: 0;
}

.footerContainer li{
    padding: 0 40px;
}

.footerContainer .appsContainer{
    display: flex;
}

.footerContainer .socialNetworks img{
    max-height: 40px;
}

.footerContainer .socialNetworks a{
    text-decoration: none;
    color: white;
    display: flex;
}

.footerContainer .socialTitle{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.footerContainer .socialTitle span{
    font-size: 14px;
    font-weight: lighter;
}

.footerContainer .appsContainer{
    display: flex;
    flex-direction: column;
}

.footerContainer .appsContainer img{
    max-height: 70px;
    margin: 10px 0;
}

@media (max-width: 1300px){
    .footerContainer .infoContainer p{
        font-size: 12px;
    }

    .footerContainer .socialNetworks a{
        flex-direction: column;
        text-align: center;
    }

    .footerContainer .socialTitle span{
        font-size: 12px;
    }

    .footerContainer .socialTitle{
        margin-left: 0;
    }
}

@media (max-width: 1000px){
    .footerContainer ul {
        flex-direction: column;
    }

    .footerContainer .socialNetworks a{
        flex-direction: row;
        text-align: left;
    }

    .footerContainer .socialTitle span{
        font-size: 12px;
    }

    .footerContainer .socialTitle{
        margin-left: 10px;
    }
}

@media (max-width: 800px){
    .footerContainer{
        min-height: auto;
    }

    .footerContainer .footerFlexContainer{
        flex-direction: column;
    }

    .footerContainer ul {
        flex-direction: row;
    }

    .footerContainer li {
        text-align: center;
    }

    .footerContainer .infoContainer p{
        font-size: 12px;
    }

    .footerContainer .socialNetworks a{
        flex-direction: column;
        text-align: center;
    }

    .footerContainer .socialTitle span{
        font-size: 12px;
    }

    .footerContainer .socialTitle{
        margin-left: 0;
    }

    .footerContainer .infoContainer,
    .footerContainer .socialNetworks,
    .footerContainer .appsContainer{
        margin: 15px 0;
    }
}

@media (max-width: 600px){
    .footerContainer .socialNetworks li {
        padding: 0 15px;
    }
}

@media (max-width: 400px){
    .footerContainer .infoContainer img {
        display: none;
    }
}